/* .logo {
  align-content: end;
  border-left: 30px;
  padding-left: 400px;
}
.header {
  color: antiquewhite;
  background-color: antiquewhite;
} */

:root {
  --primary: blue;
  --shadow: -5px 5px 10px 5px grey;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  /* display: flex; */
  margin: auto;
}
.flex-between {
  display: flex;

  justify-content: space-between;
}

.global {
  background: rgba(187, 128, 18, 0.543);
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
}

.global > div {
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--primary);
  color: white;
}

header div {
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  background-color: white;
  color: rgb(79, 79, 139);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

header ul {
  display: flex;
  list-style-type: none;
}
header ul li {
  margin-left: 16px;
  border-radius: 15px;
}

.logo > div {
  border: 3px dotted rgb(97, 97, 163);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li:hover {
  background-color: red;
  cursor: pointer;
  transform: scale (1.5);
}

.Hero {
  background-color: red;
  height: 60vh;

  background: url(./gunda.jpeg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(37, 27, 27, 0.513);
  color: white;
  width: 400px;
  padding: 32px;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content hr {
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.side-link {
  background: rgb(235, 235, 239);
  width: 34%;
}

.articles {
  background: rgb(249, 247, 247);
  width: 66%;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: -5px 5px 10px 5px grey;
  border-radius: 10px;
  padding: 20px 16px;
}

.art-img {
  width: 350px;
}

footer {
  background: black;
  color: white;
  padding: 64px;
  text-align: center;
  margin-top: 32px;
}

article .title {
  font-size: 24px;
  color: var(--shadow);
}

.btn {
  background: rgb(142, 83, 83);
  border: none;
  padding: 8px 16px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  /* text-align: end; */
  float: end;
}

.btn:hover {
  color: gray;
  background-color: blueviolet;
}

.country {
  background-color: rgba(153, 205, 50, 0.458);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 10px;
}

.date {
  background-color: #23de2dd6;
  padding: 16px;
  border-radius: 10px;
}

.recc {
  /* display: flex;
  flex-wrap: wrap; */
  background: yellowgreen;
  margin-top: 32px;
  padding: 32px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 350px;
  box-shadow: var(--shadow);
  background: white;
  padding: 32px;
  border-radius: 10px;
  flex-grow: 1;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card-btn {
  background: orangered;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.btn:hover,
.card-btn:hover {
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.subs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub input {
  line-height: 42px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 5px 10px;
}

/* media queries */
/* 0-600px  Mobile */
/* @media (max-width: 600px) {
  .global {
    background: rgba(18, 147, 187, 0.543);
    /* display: none; */

/* large monitor or TV 992px +  */

/* @media (600px < width <992px) {
  header {
    background: yellow;
  }
} */
/* 
@media (max-width: 920px) {
  header {
    background: rgb(255, 0, 162);
  }
} */

/* 600-992px for ipads */
/* Media quries below 600px */

@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .articles {
    width: 100%;
  }
  .side-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  .country,
  .date {
    flex-grow: 1;
  }
  .country {
    margin-bottom: 0;
  }
}

/* 0-600px mobile */
@media (max-width: 600px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    /* box-shadow: -5px 5px 10px 5px grey;
    border-radius: 10px;
    padding: 20px 16px; */
  }

  .side-link {
    flex-direction: column;
  }

  .art-img {
    width: 100%;
  }

  .subs input {
    margin-top: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  /* hide global Msg */
}
